<!DOCTYPE html>
<html>
	</head>
    <body>
    <h1><%=@username%>'s Review of <%=@business%></h1>

  Entrance: <%=@comments1 %><br>
  Navigation: <%= @comments2 %><br>
  Bathrooms: <%=@comments3 %><br>
  Product/Service: <%=@comments4 %><br>
  Employee Interaction: <%=@comments5 %><br><br><br>

  <a class="button" href="/">Home</a>
    </body>
</html>